/* line 3, ../../app/styles/timeline.scss */
.timeline {
  margin-bottom: 0;
}

/* line 6, ../../app/styles/timeline.scss */
.ticks {
  background: none;
  -webkit-box-shadow: none;
  border: none;
}
/* line 13, ../../app/styles/timeline.scss */
.ticks.progress .bar-warning {
  background: #fff;
  -webkit-box-shadow: none;
}
/* line 17, ../../app/styles/timeline.scss */
.ticks.progress .bar-danger {
  background: #000;
}

/* line 23, ../../app/styles/timeline.scss */
.active-event {
  margin: 10px 0;
  height: 200px;
}

/* line 30, ../../app/styles/timeline.scss */
.progress .bar {
  -webkit-transition: width 0;
  -moz-transition: width 0;
  -o-transition: width 0;
  transition: width 0;
}
