 <h4>Events</h4>
 <p>
  <button class="btn btn-primary">New Event</button>
 </p>
 <div class="row">
  <div class="span8">
    <table class="table table-hover table-bordered">
      <caption></caption>
      <thead>
        <tr>
          <th>Type</th>
          <th>Date & Time</th>
          <th>Audience</th>
          <th>Content</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fake SMS</td>
          <td>12.2.13 | 13:22</td>
          <td>Alejandro’s friends</td>
          <td>No F**ing way I’m apologizing >:->, I’ve already made a date with Carmen</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                <a class="btn" href="#"><i class="icon-pencil"></i></a>
                <a class="btn" href="#"><i class="icon-trash"></i></a>
              </div>
            </div>
          </td>
        </tr>
        <tr class="info">
          <td>Fake SMS</td>
          <td>12.2.13 | 13:22</td>
          <td>Alejandro’s friends</td>
          <td>No F**ing way I’m apologizing >:->, I’ve already made a date with Carmen</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                 <a class="btn" href="#"><i class="icon-pencil"></i></a>
                <a class="btn" href="#"><i class="icon-trash"></i></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Fake SMS</td>
          <td>12.2.13 | 13:22</td>
          <td>Alejandro’s friends</td>
          <td>No F**ing way I’m apologizing >:->, I’ve already made a date with Carmen</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                 <a class="btn" href="#"><i class="icon-pencil"></i></a>
                <a class="btn" href="#"><i class="icon-trash"></i></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Fake SMS</td>
          <td>12.2.13 | 13:22</td>
          <td>Alejandro’s friends</td>
          <td>No F**ing way I’m apologizing >:->, I’ve already made a date with Carmen</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                 <a class="btn" href="#"><i class="icon-pencil"></i></a>
                <a class="btn" href="#"><i class="icon-trash"></i></a>
              </div>
            </div>
          </td>
        </tr>


      </tbody>
     </table>
    </div>
  <div class="span4">
    <form class="edit-form">
      <fieldset>
        <legend>Edit event</legend>
        <label>Event type</label>
        <select>
          <option>Fake SMS</option>
        </select>
        <label>Date</label>
        <input type="text" placeholder="dd/mm/yy">
        <label>Time</label>
        <input type="text" placeholder="hh:mm:ss">
        <label>Send to</label>
        <select>
          <option>All subscribers</option>
        </select>
        <span class="help-block">Explantion text</span>
        <label>SMS content</label>
        <textarea rows="3"></textarea>
        <label class="checkbox">
          <input type="checkbox" checked> Enable push notification
        </label>
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
  </div>
</div>