 <div class="timeline">                 
    <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>
     <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
       Mobile Application Engineer at Lorem |  Location area     <br>
    </div> 


    <div class="popover top">
      <div class="arrow"></div>
      <div class="popover-content" ng-include="'event-form.html'"></div>
    </div>
    <p class="new-event">
      <button class="btn  pop-example"><i class="icon-plus-sign"></i></button>
    </p>

     <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
      Event that happens on the smae time  <br>
    </div>  
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
      Event that happens on the smae time  <br>
    </div>  
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>
    <div ui-scrollfix="+40" class="heading alert alert-info">
      <i class="icon-calendar"></i> Thu 11.10.2013
    </div>
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>
    <div class="list-block plot-point">
        Plot point label
    </div> 
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p> 
    <div ui-scrollfix="+300" class="heading alert alert-info">
      <i class="icon-calendar"></i> Wed 10.10.2013
    </div>
    <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn "><i class="icon-plus-sign"></i></button>
    </p>    
    <div class="list-block ">
      <img src="http://dummyimage.com/70" class="pull-left" alt="company logo"/>
        Web Developer intern at Company | Location area   <br>
    </div> 
     <p class="new-event">
      <button class="btn"><i class="icon-plus-sign"></i></button>
    </p>             
</div>

  <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
 
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <div class="add-btns">
    <a class="btn" ng-class="{active:showForm }" ng-click="showForm = true"><i class="icon-envelope"></i> Text</a>
    <a class="btn " href="#"><i class="icon-film"></i> Video</a>
    <a ng-click="showModal()"  class="btn active" ><i class="icon-picture"></i> Image</a>
    <a class="btn " href="#"><i class="icon-list"></i> Quetsion</a>
    <a class="btn btn-info" href="#"><i class="icon-white icon-tag"></i> Plot Point</a>
  </div>
  </div>
   
  <div class="modal-body">
    <p>Image Event Form Body</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-dismiss="modal">Save</button>
  </div>
</div>



<script type="text/javascript">

$('.pop-example').on('click',function(){
   $('.popover').fadeIn();
})
 
</script>