  <div class="add-btns">
  	<a class="btn" ng-class="{active:showForm }" ng-click="showForm = true"><i class="icon-envelope"></i> Text</a>
  	<a class="btn " href="#"><i class="icon-film"></i> Video</a>
  	<a ng-click="showModal()"  class="btn" ><i class="icon-picture"></i> Image</a>
  	<a class="btn " href="#"><i class="icon-list"></i> Quetsion</a>
  	<a class="btn btn-info" href="#"><i class="icon-white icon-tag"></i> Plot Point</a>
  	<a class="btn btn-link close-dialog" ng-click="closeDialog()"><i class="icon-remove"></i></a>
  </div>
  <form ng-show="showForm">
  	<fieldset class="text-ph">
  		<!-- <legend>Contence of event type form</legend>
  		<label>Label name {{foo}}</label>
  		<input type="text" placeholder="Type something…">
  		<span class="help-block">Example block-level help text here.</span>
  		<label class="checkbox">
  			<input type="checkbox"> Check me out
  		</label> -->
  		
  	</fieldset>
    <button type="submit" class="btn btn-primary ph-form-submit">Submit</button> 
  </form>


 